*{
    color: #0D5331;
    color: #1e5631;
    color: #A4DE02;
    color: #76BA1B;
    color: #4C9A2A;
    color: #ACDF87;
    color: #68BB59;
    /* ttt */
    color: #88D969;
    color: #46CB18;
    color: #06A10B;
    color: #1d800f;
}