@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    font-family: 'Roboto';
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background-color: #f2f2f2;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.title-product-dev {
    background: #0D5331 !important; 
    margin-top: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    overflow: hidden;
    display: block;
    color: #f3f3f3 !important;
    width: 100%;
    border-bottom: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;

}
.product-dev {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.content-dev {
    
}

.main-product-dev {
    float: left;
}

.card-body {
    color: black;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 0.25rem;
    padding-left: 0.5rem;
}

.card-title {
    font-size: 14px;
    line-height: 1.3em;
    margin-bottom: 0.25rem;
}

.card-text {
    font-size: 11px;
    font-weight: 700;
    color: #00b517;
    margin-bottom: 0.25rem;

}

.card-promotion {
    color: #a8011f;
    font-weight: 700;
    margin-bottom: -0.5rem;
    float: left;
    margin-right: 15px;
    font-size: 14px;
}

.card-price {
    font-size: 14px;
    color: #4e4e4e7a;
    text-decoration: line-through;
}

.card-review {
    font-size: 13px;
    font-weight: 900;
    color: #ff9017;
}

.card p {
    margin-bottom: 0.25rem;
}

.content-product-dev{
    
}

.menu-header-dev{
    height: 30px;
    width: 100%;
    margin-bottom: 15px;
}
.home-category-tags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: auto; 
    overflow-x: auto !important;
}

.home-category-tags::-webkit-scrollbar-track {
	border-radius: 8px;
	background-color: #F3F3F3;
}
.home-category-tags::-webkit-scrollbar {
    padding-top: 3px;
    background-color: #F3F3F3;
    height: 10px;
    padding-top: 3px;
}

.home-category-tags::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 0.5px solid #fff;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.home-category-tag {
    text-decoration: none !important;
    color: #ffff !important;
    font-weight: 200 !important;
    font-size: 14px;
    padding: 5px 10px !important;
    border-radius: 8px;
    margin-right: 10px;
    flex: 0 0 auto;
    background: #0D5331;
}



.list-product-dev {
    
}

.product-dev{
    padding-right: 0px;
    padding-left: 0px;
}

.img-product-dev {
    width: 100%;
    height: 40%;
}

.info-product-dev {
    width: 100%;
    height: 60%;
}